<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuK_Ad_dHU-7vTRiyzs7Sta3UZWjaVLCU</string>
	<key>GCM_SENDER_ID</key>
	<string>221979821247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificaciones.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pushservice-e6e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>pushservice-e6e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221979821247:ios:cbc0c5f510f3c5dae4320a</string>
</dict>
</plist>